/*-----HOME SCSS-----*/

.home {

    &-container {
        min-height: 90dvh;
        border-bottom: 4px solid rgba(189, 189, 189, 0.292);

        h2 {
            color: $main;
            font-weight: $semi-bold;
            line-height: 4rem;

            @media (max-width: 640px) {
                line-height: 2rem;
            }
        }

        p {
            color: rgb(85, 85, 85);
            font-size: 1.2rem;
            font-weight: 300;

            @media (max-width: 640px) {
                font-size: 0.9rem;
            }
        }

        input {
            border-radius: 5px 0px 0px 5px;
            border-bottom: 1px solid #fff;
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            font-weight: $normal;
            outline: none;
            @include transition;
            box-sizing: border-box;
            filter: drop-shadow(10px 13mm 15mm rgba(66, 115, 252, 0.714));

            @media (max-width:640px) {
                border-radius: 5px;
                filter: drop-shadow(10px 13mm 15mm rgba(66, 116, 252, 0.115));
            }

            &:focus {
                border-bottom: 1px solid $sky ;
                border-top: 1px solid $sky;
                border-left: 1px solid $sky;

                @media (max-width:640px) {
                    border: 1px solid $sky;
                }
            }
        }

        .home-sbtn {
            background-color: $sky;
            padding: 1rem 10px;
            border-radius: 0px 5px 5px 0px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            border: 1px solid $sky;
            @include transition;

            @media (max-width:640px) {
                border-radius: 5px;
            }

            &:hover {
                background-color: $main;
            }
        }

        .home-images {
            .img-1 {
                filter: drop-shadow(0px 13mm 10mm rgba(110, 149, 255, 0.714));
                z-index: -10;

                @media (max-width: 1024px) {
                    opacity: 0.5;
                }

                @media (max-width: 640px) {
                    width: 80%;
                }
            }

            .img-2 {
                filter: drop-shadow(0 -6mm 10mm rgba(43, 99, 255, 0.332));
                z-index: -10;
            }
        }
    }

    &-customer {

        .home-slider {

            img {
                margin-inline: auto;
                filter: invert(50%);
                @include transition;

                &:hover {
                    filter: invert(0%);
                }
            }
        }
    }

    &-services {

        .service-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-block: 2.4rem;
            padding-inline: .5rem;
            gap: 15px;
            border-radius: 25px;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
            @include transition;

            &:hover {
                background-color: $green;
                color: #fff !important;

                .box-title {
                    color: #fff;
                }

                .box-icon {
                    color: #fff !important;
                }

                .box-more {
                    color: #fff;
                }
            }

            .box {

                &-icon {
                    font-size: 6rem;
                    @include transition;
                }

                &-title {
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: $main;
                    @include transition;
                    position: relative;

                    &::after{
                        content: '';
                        width: 0%;
                        height: .5px;
                        position: absolute;
                        background-color: #fff;
                        bottom: 0;
                        left: 0;
                        @include transition;
                    }

                    &:hover::after{
                        width: 100%;
                    }
                }

                &-more {
                    font-weight: $normal;
                    margin-top: .6rem;
                    color: $sky;
                    @include transition;

                    &:hover {
                        color: $sky;
                    }
                }
            }
        }

        .span-text {
            color: $sky;
            @include transition;

            &:hover {
                color: $green;
            }
        }
    }

    &-whyUs{

        background-color: $shade;

        @media (max-width: 1024px) {
            background-color: transparent !important; 
        }

        p{
            width: 80%;
            @media (max-width: 768px) {
                width: 100%;
            }
        }

        img{
            min-width: 65px;
        }

        .img-icon{
            border-radius: 50%;
            padding: 20px;

            &-1{
                border: 1px solid rgb(187, 255, 0);
            }

            &-2{
                background-color: #F1F3FF;
                border: 1px solid $sky;
            }

            &-3{
                background-color: #FFF4F2;
                border: 1px solid $dred;
            }
        }
    }
}