/*-----MIXIN SCSS-----*/

//primary button mixin
@mixin mainButton {
    display: inline-block;
    position: relative;
    padding: .7rem 1.2rem;
    border-radius: 5px;
    font-weight: $bold;
    font-size: 1rem;
    color: #fff;
    overflow: hidden;
    z-index: 2;
}

//transition mixin
@mixin transition {
    transition: all 0.4s;
}

//box shadow mixin
@mixin shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

//media query mixin
@mixin midScreen ($max: 990px, $dis: none) {
    @media (max-width:$max) {
        display: $dis;
    }
}