/*-----SERVICE PAGE SCSS-----*/

.services {
    &-top {
        background-image: linear-gradient(rgba(0, 0, 0, 0.631), rgba(0, 0, 0, 0.617)), url(../assets/breadcumb1.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed;

        .nav-btn {
            border-radius: 5px;
            padding: .8rem 1.7rem;
            background-color: rgba(128, 128, 128, 0.321);

            .home-link {
                @include transition;

                &:hover {
                    color: $red;
                }
            }
        }
    }

    &-main{
        background-color: #161E17;
        padding-block: 5rem;

        .service-box{
            background-color: #212822;
            border-radius: 25px;
            padding: 2.5rem 2rem;
            @include transition;

            &:hover{
                background-color: #fff;

                h2{
                    color: $main;
                }

                a p{
                    color: $main;
                    @include transition;

                    &:hover{
                        color: $red;
                    }
                }
            }
        }
    }
}