
//WEBSITES PRIMARY COLORS
$main: #000248;
$sky: #702FFF;
$green: #6cce05;
$gray: #AEA8AA;
$red: #FF2759;
$shade: #FFF8E8;
$dark: #212822;

//For Buttons
$dsky: #5B19EC;
$dred: #E81244;

//Font Sizes
$bold: 700;
$semi-bold: 500;
$normal: 400;