/*-----PRIMARY SCSS FILE-----*/

//IMPORTING CUSTOM SCSS
@import 'variables';
@import 'mixin';

//IMPORTING COMPONENTS SCSS
@import 'button';
@import 'navbar';
@import 'gttbtn';

//IMPORTING PAGES SCSS
@import 'home';

/*-----UNIVERSAL CLASSES-----*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color-scheme: light;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: "Geologica", sans-serif;
}

img {
    display: block;
}

.container{
    max-width: 1400px !important;
    margin: auto !important;
}
/*-----UNIVERSAL CLASSES-----*/


/*-----RESUABLE BUTTON COMPONENT CLASSES-----*/
.sky {
    background-color: $sky;

    &::after {
        background-color: $dsky;
    }
}

.red {
    background-color: $red;

    &::after {
        background-color: $dred;
    }
}
/*-----RESUABLE BUTTON COMPONENT CLASSES-----*/

.active{
    color: $sky;
}
