/*-----PRIMARY SCSS FILE-----*/

//IMPORTING CUSTOM SCSS
@import 'variables';
@import 'mixin';

//IMPORTING COMPONENTS SCSS
@import 'button';
@import 'navbar';
@import 'gttbtn';

//IMPORTING PAGES SCSS
@import 'home';

/*-----UNIVERSAL CLASSES-----*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color-scheme: light;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: "Geologica", sans-serif;
}

img {
    display: block;
}

::selection{
    color: #fff;
    background-color: $dred;
}

.container{
    max-width: 1400px !important;
    margin: auto !important;
}
/*-----UNIVERSAL CLASSES-----*/


/*-----RESUABLE BUTTON COMPONENT CLASSES-----*/
.sky {
    background-color: $sky;

    &::after {
        background-color: $dsky;
    }
}

.red {
    background-color: $red;

    &::after {
        background-color: $dred;
    }
}
/*-----RESUABLE BUTTON COMPONENT CLASSES-----*/

.active{
    color: $sky;
}

.header-sm{
    color: $main;
    font-weight: 300;
}

.title-sm{
    color: $sky;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    z-index: 2;

    &::after{
        content: '';
        position: absolute;
        width: 99%;
        min-height: 8px;
        background: #a57bff5c;
        bottom: 8px;
        left: 0;
        z-index: 1;
    }
}

.title-md{
    font-weight: 600;
    color: $main;
    font-size: 1.4rem;
}

.semi-bold{
    font-weight: 500;
    //sm:text-3xl text-2xl
}

.mClr{
    color: $main !important;
}


//TEXT ANIMATION
.ml10 {
    position: relative;
    font-weight: 900;
    font-size: 4em;
  }
  
  .ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
  }